%h1
  What is TwitRSVP?
  - unless current_user
    %span.context
      = "(<a href='/signup'>log me in!</a>)"

%p= "While <a href='http://twitter.com'>twitter</a> is all about asking <strong>what are you doing?</strong> We take advantage of twitter to ask <strong>are you going?</strong>.  We use <a href='http://twitter.com/oauth'>oauth</a> to make it all happen, which basically means we won't ask you for your password."

%h2 It's actually pretty simple
%ul
  %li Visit the interface to schedule an event.
  %li Decide on a time and place for the event.
  %li Invite up to 20 attendees.
  %li We direct message the attendees on your behalf with the event info.
  %li Attendees can reply via the web or by direct messaging you with an event key.
  / %li You can go back and edit events to make them more appealing.
  / %li An hour before your event, we shoot you a reminder and a link to let you know who is attending.

#click-through
  - if current_user
    %form{:action => '/schedule', :method => 'GET'}
      %input.submit{:type => 'submit', :value => 'Make an event now!'}
  - else
    %form{:action => '/signup', :method => 'GET'}
      %input.submit{:type => 'submit', :value => 'Make an event now!'}
