%h2.fancy 
  Hey, do you use
  %a{:href => 'http://twitter.com'}?

%h4.fancy What TwitRSVP is
%p TwitRSVP is a little application that has a goal of aiding in assembling
groups of people via twitter.  The idea is to use the messaging services of
twitter to create ad hoc meetups with your friends.

%h4.fancy What we were thinking when we created this
%ul
  %li Really simple way to let twitterers organize events with friends on twitter
  %li 
    Really simple date/time input by leveraging 
    %a{:href => 'http://chronic.rubyforge.org'} Chronic
    natural language parsing.
  %li 
    Don't be annoying.  Use twitter as a message bus and keep organization
    discrete.  Shoot your friends some direct messages with a place, time, and
    a link to say whether or not they'll be there.
  %li Use twitter's oauth functionality to securely send messages on your behalf WITHOUT requring you to provide your password.

%h4.fancy
  %a{:href => '/signup'} Get Started Now



