%h1.thin
  Hey, do you use twitter?  Would you mind trying this out?

%h4.fancy What we were thinking when we created this
%ul
  %li
    Really simple way to organize events with friends via 
    %a{:href => 'http://twitter.com'} twitter
  %li
    Really simple date/time input with
    %a{:href => 'http://chronic.rubyforge.org'} natural language parsing.
  %li
    Don't be annoying.  Use twitter as a message bus and keep organization
    discreet.  Shoot your friends some direct messages with a time, place, and
    a way to say whether or not they'll be there.
  %li
    Use
    %a{:href => 'http://oauth.net'} oauth 
    to send messages on your behalf without requring you to provide your password.
  %li
    Confirmation via direct messaging, "rsvp yes" or "rsvp no"

%h4.fancy What I'd still like to see
%ul
  %li
    %a{:href => 'http://twitter.com/jlarrimore'} Jeff
    and
    %a{:href => 'http://twitter.com/ubermajestix'} Tyler
    style the site like they said they would. :)

%h4.fancy
  %a{:href => '/signup'} Get Started Now

