%h1
  What is TwitRSVP?
  - unless current_user
    %span.context
      = "(<a href='/signup'>log me in!</a>)"
%p
  twitRSVP is an application that uses 
  %a{:href => 'http://twitter.com'} twitter
  to organize events.

%h2 This is how you use it
%ul
  %li You visit the interface to schedule an event.
  %li You decide on a time and place for the event.
  %li You can invite up to 20 attendees.
  %li We direct message the attendees on your behalf with the event info.
  %li Your attendees can reply via the URL or by direct messaging you with an event key.
  / %li You can go back and edit events to make them more appealing.
  / %li An hour before your event, we shoot you a reminder and a link to let you know who is attending.

#click-through
  - if current_user
    %form{:action => '/schedule', :method => 'GET'}
      %input.submit{:type => 'submit', :value => 'Make an event now!'}
  - else
    %form{:action => '/signup', :method => 'GET'}
      %input.submit{:type => 'submit', :value => 'Make an event now!'}
