#pending
  %h1.pending_header Declined
  - if @declined_events.nil? || @declined_events.empty?
    %div.pending_event
      %h3 None at this time
  - else
    - @declined_events.each do |event|
      .pending_event
        .left.event_detail
          %h3
            %a{:href => event_url(event)}= event.name
          %p.context
            = event.localtime.strftime('%a %b %e @ %l:%M %P')
            %br
            = event.place
        .right.event_action
          %a.positive.should_post{:href => event_url(event, "/confirm")} accept
        %div.clear
