%h1= @event.description
%h2= "#{@event.localtime.strftime('%a %b %e -> %l:%M %P')} #{@event.user.time_zone}"

%h3 Attendees
- unless @event.confirmed.empty?
  %ul.confirmed
    - @event.confirmed.each do |attendee|
      %li
        %a{:href => attendee.user.url}
          %img{:src => attendee.user.avatar, :alt => attendee.user.name}
- else
  %h5 No one is coming, yet!

%h3 Pending
- unless @event.invited.empty?
  %ul.invited
    - @event.invited.each do |attendee|
      %li
        %a{:href => attendee.user.url}
          %img{:src => attendee.user.avatar, :alt => attendee.user.name}
- else
  %h5 Everyone has made their decision!

%h3 Declined
- unless @event.declined.empty?
  %ul.declined
    - @event.declined.each do |attendee|
      %li
        %a{:href => attendee.user.url}
          %img{:src => attendee.user.avatar, :alt => attendee.user.name}
- else
  %h5 No one has declined!

%a{:href => '/'} Home

%form{:action => event_url(@event)+'/confirm', :method => 'POST'}
  %input.submit{:type => 'submit', :value => "I'll be there!"}

%form{:action => event_url(@event)+'/decline', :method => 'POST'}
  %input.submit{:type => 'submit', :value => "I can't make it"}

- if current_user.id == @event.user_id
  %form{:action => event_url(@event), :method => 'POST'}
    %input{:type => 'hidden', :name => '_method', :value => "delete"}
    %input.submit{:type => 'submit', :value => "Cancel the entire event"}
