%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %title twitrsvp.com - RSVP via Twitter
    %link{:href => '/css/style.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css', :media => 'screen, projection' }
    %link{:href => '/css/datePicker.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css', :media => 'screen, projection' }
    %script{:type => 'text/javascript', :src => '/js/jquery-1.3.2.js'}
    %script{:type => 'text/javascript', :src => '/js/ui.core.js'}
    %script{:type => 'text/javascript', :src => '/js/ui.datepicker.js'}
    %script{:type => 'text/javascript', :src => '/js/jquery.timePicker.js'}
    %script{:type => 'text/javascript', :src => "http://maps.google.com/maps?file=api&v=2&sensor=true&key=ABQIAAAA9elu2N8AA1OHV-W3tjttIRTyfKNApYviIr_4tsng-m8_nML1MxTjUDJuCGOEla7rxTSEuQDer26d3g"}
    %script{:type => 'text/javascript', :src => '/application.js'}

  %body
    #page
      #center
        #header
          %a#logo{:href => '/'}
            twitRSVP
          %ul#nav
            %li{:class => (request.path_info == '/organize' ? 'current' : '') }
              %a{:href => '/organize' } schedule
            %li{:class => (request.path_info == '/' ? 'current' : '') }
              %a{:href => '/'} manage
        #main
          = yield

        #rounded_footer
        #footer 
          %p
            TwitRSVP uses
            %a{:href => 'http://twitter.com'} twitter's
            %a{:href => 'http://apiwiki.twitter.com/'} oauth api
            to simplify organizing events with your friends.
            %a{:href => '/about'} Learn
            more.
          %p
            Another
            %a{:href => 'http://github.com/atmos/twitrsvp'} open source
            %a{:href => 'http://oauth.org'} oauth
            experiment brought to you by 
            %a{:href => 'http://twitter.com/atmos'} @atmos,
            %a{:href => 'http://twitter.com/ubermajestix'} @ubermajestix,
            and
            %a{:href => 'http://twitter.com/jeffreylarrimore/'} @jlarrimore.
            Hosted on
            %a{:href => 'http://engineyard.com/solo'} EY Solo.
          - if current_user
            %p
              Please,
              %a{:href => '/peace'} log me out.
        #twito Twito Ayes. Straight Outta Boulder. 
