- unless @event.errors.empty?
  .errors
    - @event.errors.each do |error|
      %span= error

%form{:action => (@form_path||'/events'), :method => (@form_path.nil? ? 'POST' : 'PUT')}
  %label{:for => 'name'}
    %h2 Let's give the event a name:
    %input{:type => 'text', :name => 'name', :size => 40, :value => @event.name}
  %label{:for => 'place'}
    %h2 Location
    %input{:type => 'text', :name => 'place', :size => 40, :value => @event.place}
  %label{:for => 'address'}
    %h2 Address
    %input{:type => 'text', :name => 'address', :size => 40, :value => @event.address}
  %label{:for => 'starts_at'}
    %h2 Date/Time
    %input{:type => 'text', :name => 'starts_at', :size => 40, :value => params['starts_at']}
  %label{:for => 'description'}
    %h2 140 Character description of the event
    %textarea{:name => 'description', :rows => 5, :columns => 76}
      = @event.description
  %label{:for => 'usernames'}
    %h2 Twitter names to invite, separated by commas.  These are the names you normally @reply.  You can only invite people that follow you at this time.
    - unless @event.new_record?
      %h3 You've already invited these people
      %p= @event.attendees.map { |attendee| attendee.user.screen_name }.join(',')
    %textarea{:name => 'usernames', :rows => 5, :columns => 76}
      = params['usernames']
    %br

  %input.submit{:type => 'submit', :value => 'Create!'}
  or
  %a.class{:href => '/'} Cancel
